body {
    background-color: #ebdbb2;
    color:  #4D455D;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    margin: 0px;
    text-align: center;
}

h1 {
    font-family: 'Alkatra', cursive;
    font-size: 3.6875rem;
    margin-bottom: 0px;
}

h2 {
    font-family: 'Merriweather', serif;
    font-weight: normal;
    margin: 0px;
}

h3 {
    font-family: 'Merriweather', serif;
    text-decoration: underline;
}

h4 {
    font-family: 'Merriweather', serif;
}

hr {
    border: dotted;
    width: 10%;
    border-bottom: 0px;
    border-width: 10px;
    margin: 100px auto;
}




/* class selectors */
.profile {
    position: relative;
    text-align: left;
    color: #ebdbb2;
}

/* profile name position */
.profile-name {
    position: absolute;
    top: 0%;
    left: 5%;
    margin: 0px;
}

.nav {
    line-height: 1.5;
    text-decoration: underline;
    position: absolute;
    bottom: 10%;
    right : 10%
}


.background-image {
    width: 100%;
}


.profile-pic {
    padding: 100px;
    padding-bottom: 50px;
    width: 150px;
    height: 150px;
}

.intro-msg {
    width: 85%;
    margin: auto;
    padding: 50px;
    padding-bottom: 0px;
    text-align: left;
}

.sub-heading {
    text-decoration: underline;
}

.title {
    margin-bottom: 0px;
}

.discription {
    margin-top: 0px;
}


.contact-me {
    width: 85%;
    margin: auto;
    text-align: left;
    padding: 50px;
}

.copy-ryt {
    margin : 0px;
}

/* containers css */
.middle-container {
    width: 85%;
    margin: auto;
    text-align: left;
}
.bottom-container {
    background-color: #282828;
    color : #ebdbb2;
    margin: 0px;
    padding : 100px;
    padding-bottom: 0px;
}

.link {
    margin-bottom: 50px;
}
.footer-link {
    color : #fe8091;
    padding: 50px;
}

.footer-link:hover {
    color: #8ec076;
}

.web-name {
    color : #8ec076;
}

.dics {
    font-family: 'Alkatra', cursive;
}


.btn {
    background: #7081c7;
    background-image: -webkit-linear-gradient(top, #7081c7, #bd82a0);
    background-image: -moz-linear-gradient(top, #7081c7, #bd82a0);
    background-image: -ms-linear-gradient(top, #7081c7, #bd82a0);
    background-image: -o-linear-gradient(top, #7081c7, #bd82a0);
    background-image: linear-gradient(to bottom, #7081c7, #bd82a0);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #d44a6c;
    background-image: -webkit-linear-gradient(top, #d44a6c, #646cde);
    background-image: -moz-linear-gradient(top, #d44a6c, #646cde);
    background-image: -ms-linear-gradient(top, #d44a6c, #646cde);
    background-image: -o-linear-gradient(top, #d44a6c, #646cde);
    background-image: linear-gradient(to bottom, #d44a6c, #646cde);
    text-decoration: none;
  }