body {
    background-color: #ebdbb2;
    color:  #4D455D;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    margin: 0px;
    text-align: center;
}

h1 {
    font-family: 'Alkatra', cursive;
    font-size: 3.6875rem;
    margin-bottom: 0px;
}

h2 {
    font-family: 'Merriweather', serif;
    font-weight: normal;
    margin: 0px;
}

h3 {
    font-family: 'Merriweather', serif;
    text-decoration: underline;
}

h4 {
    font-family: 'Merriweather', serif;
}

hr {
    border: dotted;
    width: 10%;
    border-bottom: 0px;
    border-width: 10px;
    margin: 100px auto;
}




/* class selectors */

.profile-pic {
    width: 150px;
    height: 150px;
    margin: 100px;
}

.intro {
    width: 85%;
    margin: auto;
    padding: 50px;
    padding-bottom: 0px;
    text-align: left;
}

.sub-heading {
    text-decoration: underline;
}

.title {
    margin-bottom: 0px;
}

.discription {
    margin-top: 0px;
}


.contact-me {
    width: 85%;
    margin: auto;
    padding: 50px;
    padding-bottom: 0px;
    text-align: left;
}

.copy-ryt {
    margin : 0px;
}

/* containers css */
.middle-container {
    width: 85%;
    margin: auto;
    padding: 50px;
    padding-bottom: 0px;
    text-align: left;
}
.bottom-container {
    background-color: #282828;
    color : #ebdbb2;
    margin: 0px;
    padding : 100px;
    padding-bottom: 0px;
}

.link {
    margin-bottom: 50px;
}
.footer-link {
    color : #fe8091;
    padding: 50px;
}

.footer-link:hover {
    color: #8ec076;
}

.web-name {
    color : #8ec076;
}

.dics {
    font-family: 'Alkatra', cursive;
}